<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">gusev1819</a>
        <a class="nav-item nav-link" [routerLink]="'/add'" routerLinkActive="active">Добавить заметку</a>
        <a class="nav-item nav-link" [routerLink]="'/contact'" routerLinkActive="active">Контакты</a>
      </div>
    </div>
  </nav>

  <!-- <input class="form-control mr-sm-2" type="search" placeholder="Фильтр по тексту заметки" aria-label="Search" [(ngModel)]="search_text" >
 -->
